.arjs-loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100000001;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arjs-loader div {
    text-align: center;
    font-size: 1.25em;
    color: white;
}

#img-dimensions {
    display: none;
}

#bottom-nav {
    position: absolute;
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    z-index: 100000000;
    background-color: white;
}

.carousel-control-next, .carousel-control-prev {
    top: 25px !important;
}

#artname {
    text-align: center;
    font-family: "SF Pro Display";
    font-weight: 100;
    line-height: 1.5;
    color: #615E5E;
}